# Workspace
.vscode/

# Terraform
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars

# Env files
**/.env
**/.env.*

# Node modules
**/node_modules/

# Zip artifacts
**/*.zip
